<p style="color: green"><%= notice %></p>

<h1 class="text-3xl font-bold">Users</h1>

<div id="users" class="grid grid-cols-4 gap-4">
  <% @users.each do |user| %>
  <div class="bg-gray-200 border border-gray-400 p-4">
    <%= render user %>
      <%= link_to "Ver", user, class: "bg-blue-600 text-white px-2 py-1 rounde-md mt-2" %>
    </div>
  <% end %>
</div>
<%= link_to "New user", new_user_path %>
